{
    "extends": "@istanbuljs/nyc-config-typescript",
    "all": true,
    "check-coverage": true,
    "include": [
        "src/**/*.ts"
    ],
    "exclude": [
        "test/**/*.ts"
    ],
    "reporter": [
        "text",
        "html"
    ],
    "require": [
        "ts-node/register"
    ]
}